.card.border-0.mb-3
  .card-body
    .text-dark.card-title
      %strong= link_to comment.user.name, comment.user
      %span.text-muted= l comment.created_at.to_date
    = simple_format comment.body, style: 'pre-wrap:'
