= link_to article, class: "list-group-item list-group-item-action" do
  .d-flex.w-100.justify-content-between
    %h5.mb-1
      = article.url
    %small
      %i.far.fa-clock
      = l article.created_at
  %p.mb-1= article.body
  %small small text.
