.card.border-0
  - if article.image.attached?
    = image_tag article.image, class: "card-img-top"
  .card-body
    = link_to article do
      %h5.card-title.text-dark= article.title || article.url
    %h6.card-subtitle.mb-2.text-muted= article.site_name
