= simple_form_for @article do |f|
  = f.input :url, as: :string
  %p.help-block
    http://나 https://로 시작하는 주소를 넣어주세요.

  = f.input :body, input_html: { rows: 10 }

  = f.submit data: { disable_with: "Please wait..."}, class: 'btn btn-primary'
