var $msgs = $("#new-article-modal .msgs");
$msgs.empty();

<% if @article.errors.any? %>
  <% @article.errors.full_messages.each do |msg| %>
    $("<li class='text-danger'><%= msg %></li>").appendTo($msgs);
  <% end %>
<% elsif @submission.nil? %>
  alert("이미 제보한 기사입니다");
  $("#new-article-modal").find("input[type=text], textarea").val("");
  $("#new-article-modal").find("#article_url").focus();
<% elsif @article.user != @submission.user %>
  alert("이미 제보된 기사를 추가로 제보하였습니다");
  $("#new-article-modal").find("input[type=text], textarea").val("");
  $("#new-article-modal").find("#article_url").focus();
<% else %>
  var $articles = $(".articles .row");
  $("<div class='col-6 col-md-4 col-xl-3 mb-3'><%= escape_javascript(render(@article)) %></div>").prependTo($articles);
  $("#new-article-modal").find("input[type=text], textarea").val("");
  $("#new-article-modal").find("#article_url").focus();
<% end %>