%section.py-5
  .container
    .d-flex.justify-content-between.align-items-center.pb-3
      %h2
        %strong.font-weight-normal
          기간
        %span.font-weight-bold
          = @start_date.strftime('%-m/%-d')
          \~
          오늘


    %section.pb-5
      %h3.font-weight-bold 많은 회원들이 공감한 글
      = render @best_articles

    %section.pb-5
      %h3.font-weight-bold 기간 동안 회원들이 추천한 모든 글
      .articles
        = render @articles.offset(5)

%div{ style: 'position: fixed; right: 1em; bottom: 5em; ' }
  = link_to '#', data: { toggle: "modal", target: "#new-article-modal" }, class: 'btn btn-primary rounded-circle' do
    %i.fas.fa-plus
