version: 2.1

jobs:
  deploy:
    working_directory: ~/app
    docker:
      - image: circleci/ruby:2.6.5
    steps:
      - checkout
      - run:
          name: Installing deployment dependencies
          working_directory: /
          command: |
            sudo apt-get -y -qq update
            sudo apt-get install python-pip python-dev build-essential
            sudo pip install --upgrade setuptools
            sudo pip install awsebcli --upgrade
      - run:
          name: Deploying
          command: eb deploy issues-prod-env

workflows:
  build:
    jobs:
      - deploy:
          filters:
            branches:
              only:
                - master
