.card[user]
  .card-body
    %h3.card-title.font-weight-bold
      = link_to user.name, user

    %div
      %span
        %span 추천
        %span.font-weight-bold= user.articles.size
      %span.ml-1
        %span 받은 공감
        %span.font-weight-bold= user.articles.sum(:cached_votes_total)
