%section.py-5
  .container
    .d-flex.justify-content-between.align-items-center.pb-3
      %h2
        %strong.font-weight-bold
          = @users.size
        명의 편집자

    %section
      .card-columns
        - @users.each do |user|
          - if user.articles.size > 0
            = render user
