%section.py-5
  .container
    .d-flex.justify-content-between.align-items-center.pb-3
      %h2
        %strong.font-weight-bold
          '#{@user.name}'
        님이 추천한 글

    %section
      .articles.infinite-scroll
        = render @articles
      .invisible= paginate @articles
