%section.py-5
  .container
    .py-5.text-center
      = image_tag 'logo.png', width: '100'
      %h2.mt-4
        %span.font-weight-bold 이슈즈
        %small.font-weight-light .asia
      %p.p-2.lead.text-muted
        오늘의 이슈를 모읍니다