.infinite-scroll-item
  .card.border-0.mb-4
    .card-body
      .d-flex.justify-content-between
        %h5
          = link_to wiki, class: "text-dark" do
            %strong= wiki.title

        %small.text-muted
          최종수정
          = wiki.updated_at.to_date

      %p.m-0.text-muted{ style: "line-height: 1.2" }
        = excerpt(wiki.body, length: 50)
