.card.border-0.mb-4
  .card-body
    %h3.font-weight-bold.card-title
      = link_to wiki.title, wiki, class: "text-dark"

    .my-2.text-muted
      = excerpt(wiki.body, length: 50)

    %p.m-0
      %small.text-muted
        최종수정
        = wiki.updated_at.to_date