%section.py-5
  .container
    = render "wiki_header"

    .pb-2
      .d-flex.justify-content-end
        = link_to t('btn.new_wiki'), new_wiki_path

    .wikis
      = render @wikis
    .invisible= paginate @wikis
