%section.py-5
  .container
    .pb-2
      .d-flex.justify-content-center
        %h4.font-weight-bold
          아젠다, 이슈, 정책, 사례를 모읍니다

    .pb-2
      .d-flex.justify-content-end
        = link_to t('btn.new_wiki'), new_wiki_path

    .wikis
      = render @wikis
    .invisible= paginate @wikis
